@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$font-family: 'DM Sans', sans-serif;
$fontColor:#F9FAFB;
@mixin card-input-output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(4, 18, 33, 0.9);
  width: 600px;
  height: 350px;
  margin-top: 380px;
  border: 0.5px solid #CDD5E0;


}
body {
  background-color: #333;
  background-image: url('./images/hero_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #F9FAFB;
  font-family: $font-family;
}

.cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 400px;
}
.input-card{
  @include card-input-output;
  display: flex;
  flex-direction: row;
}
.output-card{
  @include card-input-output;
  margin-left: 0;
}
.side {
  float: left;
  font-weight: bold;
  font-size: 18px;
  color: #4D5562;
  margin-top: -260px;
  margin-left: -80px;
}

nav {
  float: right;
  margin-top: -260px;

  .nav-item {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    color: #4D5562;
  
    &:hover, &.active {
      color: #F9FAFB;
      background-color: #394150;
      width: 80px;
      height: 30px;
      border-radius: 8px;
      text-align: center;
    }
  }
  
}